.slide-to-message-button-container {
  scroll-snap-type: y mandatory;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: none;
  border-radius: inherit;
  contain: content;
}

.slide-to-message-button {
  margin-left: calc(100% - 14.5vmin);
  height: calc(100% - 1vmin);
  width: 14vmin;
  background-color: white;
  border-left: 3px solid blue;
  border-radius: inherit;
  border-bottom-right-radius: 0;
  padding-top: 0.6vmin;
  padding-bottom: 0.4vmin;
}
