/*Menu entry*/
.menu-entry-female-theme {
  border: 3px solid white;
  border-right: 0px solid white;
  box-shadow: 3px 0px 1px 1px black;
}

.menu-entry-shrinked-female-theme::before,
.menu-entry-expanded-female-theme::before {
  background: url(../../../resources/backgrounds/menu/entry/crossline-dots.png);
  border: 2px solid black;
}

.menu-entry-shrinked-female-theme {
  background-color: rgba(255, 255, 255, 0.5);
}
.menu-entry-expanded-female-theme {
  background-color: #ff00ff22;
}

.menu-entry-shrinked-female-theme::after,
.menu-entry-expanded-female-theme::after {
  background-image: url(../../../resources/backgrounds/menu/128-61.jpg);
  background-color: white;
  border: 2px solid black;
  border-left: 4px solid rgb(192, 65, 192);
  border-top-color: black;
  border-bottom-color: black;
}

/*Menu Entry Sepatator*/
.menu-separator-female-theme::before {
  border: 0px solid black;
}
.menu-separator-female-theme {
  border-left: 10px solid black;
  border-right: 10px solid black;
  background-color: rgb(192, 65, 192);
}
.menu-separator-female-theme::after {
  border: 0px solid black;
}
